.header{
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 100;

  &__container{
    width: 100%;
    display: flex;
    justify-content: space-between;

    & .header__logo {
      cursor: pointer;
    }

    .header__menu {
      display: flex;
      height: 50px;
      margin-top: 22px;
      transform: translateX(1000px);
      transition: transform 1s;

      

      & .header__ul{
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

      }
      
      & .header__li{
        margin-left: 10px;
        font-size: 20px;
        border-bottom: 6px double #32a1ce;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
          transform:rotate(360deg);
          transition: transform 1.5s;
        }
        
        & > a {
          color: black;
        }
        
      }
    }
    & .slide {
      transform: translateX(-57px);
    }

       .header__nav {
        position: absolute;
        top: 44px;
        right: 2px;
        background-color: unset;
        border: none;
        outline: none !important;
        cursor: pointer;
    
        & > span {
            background-color: $cBlack;
            width: 37px;
            height: 4px;
            display: block;
            margin-bottom: 5px;
            transition: transform 0.7s;
    
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
  }
  & .inview{
    & > span {
      &:nth-child(1){
        width: 30px;
        transition-delay: 70ms;
        transform: translateY(3.4px) rotate(157deg);
      }
      &:nth-child(2){
        transition-delay: 70ms;
        transform: translateX(8px) rotate(0);
      }
      &:nth-child(3){
        width: 30px;
        transition-delay: 70ms;
        transform: translateY(-3.4px) rotate(-157deg);
      }
    }
  }
}
